#row__separator {
  width: 2px;
  height: 30px;
}

.header {
  background: #fff;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #F4F4F4;
}

.containerHeader__block{
  max-width: 1200px;
  width: 90%;

}

.message {
  border: none;
  background: transparent;
}

.messager__card {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #d5d5d5;
  transition: .3s;
  padding: 0.5rem;
  cursor: pointer;
}
.messager__card:hover{
  background: #eeeeee;
}

.text__card__mensager{
  margin: 0 0 0.5rem 0;
}

.text__card__mensager span{
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: #505050;
  text-align: start;
}

.text__faq{
  color: black;
  font-weight: 400;
  font-size: 16px;
}

#text__new__mensager {
  padding: 0 0 0 0.5rem;
  border-left: 2px solid #656565;
}

.messageModalss {
  display: none !important;
  background: rgb(255, 255, 255);
  position: absolute;
  margin: 0.7rem 0 0 -22.5rem;
  z-index: 5;
  width: 400px;
  box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
}

.header__messageModal {
  background: #f3992e;
  height: 3em;
  padding: 0 1.5rem 0 1.5rem;
}

.text__message {
  font-weight: 500;
  color: white;

  font-size: 16px;
}

.block__text {
  width: 90%;
  padding: 0 0 0 0.5rem;
}

.cardMessage {
  width: 100%;
  height: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
}

.text__one--hr {
  width: 68%;
  height: 100%;
  border-right: 2px solid #505050;
}

.text__one {
  font-size: clamp(11px, 1vw, 12px);
  font-weight: 600;
  color: #474747;
}

.text__about {
  font-size: 13px;
  padding: 0.3rem 0 0 0;
  font-weight: 500;
  color: #5a5a5a;
}

/* ////////////////////// MODAL NOTIFICAÇÃO /////////////////// */

.button__nav{
  border: none;
  background: transparent;
}

.exit__menu {
  display: none;
}

.messageNotification{
  position: absolute;
  margin: 1rem 0 0 -23.5rem;
  box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
  z-index: 5;
  width: 400px;
  display: none !important;
  background: rgb(172, 82, 82);
}

.header__notification {
  width: 100%;
}

.card__notification {
  padding: 1rem 0 1rem 0;
  width: 100%;
  border-bottom: 1px solid #d5d5d5;
  background: white;
  transition: .3s;
  cursor: pointer;
}

.card__notification:hover{
  background: #eeeeee;
}

.card__notificationt__text {
  display: flex;
  color: #5a5a5a;
  text-decoration: underline;
  font-size: clamp(14px, 1vw, 14px);
}

.card__notificationt__text--margin {
  margin: 0 0 0 1rem;
  font-weight: 400;
}

.card__notificationt__text--weight {
  font-weight: 600;
}

.notifications__about {
  width: 100%;
  height: 2rem;
  color: #5a5a5a;
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}

.block__text__notification {
  width: 90%;
}

.messager__block__text {
  padding: 0 0 0 0.5rem;
}

/* ////////////////////// MODAL DE PERFIL /////////////////// */

.perfil__modal {
  position: absolute;
  background: white;
  box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
  height: 500px;
  width: 350px;
  z-index: 5;
  margin: 0.7rem 0 0 -19.5rem;
  display: none !important;
}

.perfil__container {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perfil__title {
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(80, 80, 80);
  font-size: 16px;
}

.perfil__title__block {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f3992e;
}

.perfil__title__bold {
  color: #505050;
  font-weight: 600;
}

.wrapTexts-info-block{
  width: 100%;
}

.account__config {
  width: 100%;
  height: 3rem;
  border-bottom: 2px solid #f3992e;
  height: 27%;
}

.account__title{
  font-weight: 400;
  color: #505050;
  width: 80%;
  font-size: 16px;
}

.account__title span{
  font-weight: 400;
  color: #505050;
  font-size: 16px;
}

.block__offers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 32%;
  border-bottom: 2px solid #f3992e;
}

.block__text__offers{
  text-align: start;
  font-weight: 400 !important;
  color: #505050;
  font-size: 16px !important;
  
}

.title__offers__primary{
  color: #f3a447;
  font-weight: 600;
  font-size: 16px;
  text-align: start;
}


.user__offers {
  height: 25%;
}

.block__title__user {
  height: 55%;
  width: 40%;
}

.block__text__offers__invest--text, .block__text__offers__invest, .perfil__title__bold{
  text-align: start;
}

.block__Information__offers{
  height: 35% ;
  border-bottom: 2px solid #f3992e ;
}

.block__text__offers__invest {
  color: #505050;
}

.block__text__offers__text span {
  padding: 0.4rem 0 1rem 0;
}

.block__end__offers span {
  padding: 0.4rem 0 0 0;
}

.nav {
  display: flex;
  align-items: center;
  width: 70%;
}

.nav__ul {
  width: 50%;
  list-style: none;
}

.title__element-name--orange b {
  font-weight: 800;
  color: #974700;
  font-size: 20px;
  padding: 0 0 0 0.3rem;
}

.title__element-name--gray b {
  font-weight: 800;
  color: #555555;
  font-size: 20px;
  padding: 0 0 0 0.3rem;
}

.title__element-name--yellow b {
  font-weight: 800;
  color: rgb(162 159 0);
  font-size: 20px;
  padding: 0 0 0 0.3rem;
}

.nav ul li a {
  color: #505050;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: clamp(10px, 1.1vw, 16px);
}

.search__nav {
  background: #f5f6fa;
  height: 35px;
  border-radius: 16px;
  margin: 0 0 0 0.5rem;
}

.filter__setas {
  cursor: pointer;
}

.nav__filter {
  position: absolute;
  background: #f5f6fa;
  width: 250px;
  top: 60px;
  display: none;
  justify-content: flex-end;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  z-index: 4;
  margin: 0 0 0 -14rem;
}

.filter__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__result span {
  font-weight: 600;
  font-size: 12px;
  color: #a0a2a6;
  text-transform: capitalize;
  padding: 0 1rem 0 0;
}

.filter__search {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding: 0.5rem 0 0.5rem 0;
}
.filter__search li {
  font-weight: 600;
  font-size: 12px;
  color: #a0a2a6;
  text-transform: capitalize;
  padding: 0 1rem 0.6rem 0;
  cursor: pointer;
}

/* ######################### */

.search__nav input {
  height: 100%;
  border: none;
  background: transparent;
  border-radius: 16px;
  padding: 0 0 0 1.5rem;
  outline: none;
}

.search__nav input::placeholder {
  font-weight: 600;
  font-size: 12px;
  color: #a0a2a6;
  text-transform: capitalize;
}

.search__nav img {
  margin: 0 0.5rem 0 0;
}

.block__Communication {
  height: 50%;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.block__Communication hr {
  width: 2px;
  height: 36px;
}

.block__Communication button{
  background: transparent;
  border: none;
}

.block__Communication hr {
  height: 100%;
  border: 1px solid #a4a4a4;
}

.block__Communication img {
  cursor: pointer;
}

.tb__perfil {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #F3992E;
  color: #F3992E;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.active .modal__active-element{
  display: flex !important;

}

.li__remove-list{
  list-style: none !important;
}

.li__remove-list a{
  text-decoration: none;
}

.exit__menu .material-icons {
  color: #000 !important;
}

/* ####### MEDIA */

@media (max-width: 1043px) {
  .search__nav {
      width: 55%;
  }
  .nav__ul {
    width: 50%;
}
}

@media (max-width: 1035px) {

  .nav__search {
      display: none;
  }
  .nav__ul {
      display: flex;
  }

  .search__nav {
      width: 316px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
  }

}

@media (max-width: 1024px) {
  .search__nav input {
      width: 221%;
  }
}

@media (max-width: 1098px) {
  .nav {
      width: 100%;
  }
}

@media (max-width: 1115px) {
  .title__element-name {
      padding: 0;
  }

  .nav{
    display: flex;
    justify-content: space-between;
  }

  .search__container {
      width: 124px;
  }

  .search__nav{
    width: 310px;
  }

  .search__nav input {
      width: 162px;
  }

  .nav__ul {
      width: auto;
      margin: 0 0 0 1rem;
  }

  .nav__ul li {
      margin: 0 1rem 0 0;
  }

  .text__one--hr {
      width: 62%;
      font-size: clamp(11px, 1vw, 14px);
  }

  .container__search input {
      width: 169px;
  }

  .nav__search {
      display: none;
  }
}

@media (max-width: 990px){
  .nav, .block__Communication{
    display: none !important;
  }

  .exit__menu{
    display: block;
  }

  .exit__menu{
    cursor: pointer;
  }

}