
.header__block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: 3;
    background: #fff;
}
.header__container-block{
    max-width: 1440px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ul__block, .nav__block{
    display: flex;
    align-items: center;
}

.ul__block{
    margin: 0 0rem 0 0;
    list-style: none;
}

.ul__block li{
    margin: 0 2rem 0 0;
    display: flex;
    align-items: center;
}



.ul__block li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: black;
    transition: .2s;
}

.ul__block li a:hover{
    color: rgb(121, 121, 121);
}


.li__primary-element img{
    margin: 0  0 0 0.5rem;
}

.button{
    border: none;
    padding: 0.5rem 1rem;
    background: #F3992E;
    color: #fff;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .1s ease;
    font-weight:bold;
}

.button--bo:hover{
    background: transparent;
    color: #F3992E;
    border: 2px solid #F3992E;
}
