
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*############ header */

.header__block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 3;
  background: #F5F5F5;
  position: absolute;
  top: 1px;
  width: 100%;
}
.header__container-block{
  max-width: 1440px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.ul__block, .nav__block{
  display: flex;
  align-items: center;
}

.ul__block{
  margin: 0 0rem 0 0;
  list-style: none;
}

.ul__block li{
  margin: 0 2rem 0 0;
  display: flex;
  align-items: center;
}



.ul__block li a{
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #535353;
  transition: .2s;
}

.ul__block li a:hover{
  color: rgb(121, 121, 121);
}


.li__primary-element img{
  margin: 0  0 0 0.5rem;
}

.button{
  border: none;
  padding: 0.5rem 1rem;
  background: #F3992E;
  color: #fff;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: .1s ease;
}

.button--bo:hover{
  background: transparent;
  color: #F3992E;
  border: 1px solid #F3992E;
}

.dropDown-content, .exit__menu{
  display: none !important;
}

/*############ main */

.main__forgotPassword-block{
  border: 1px solid #DDDDDD;
  padding: 1rem;
  width: 450px;
}

.title__forgotPassword-element{
  font-weight: 600;
  font-size: 25px;
  color: #3D3D3D;
  text-align: center;
}

.text__forgotPassoword-element{
  max-width: 350px;
  text-align: center;
  font-size: 17px;
  margin: 1.5rem 0 1rem 0;
  color: #4C4D4D;
  line-height: 1.5rem;
}

.input__getEmail-element{
  width: 100%;
  padding: 1rem;
  border: 1px solid #F3992E;
  border-radius: 0.5rem;
  font-weight: 500;
  outline: none;
  font-size: 16px;
}

.input__getEmail-element::placeholder{
  opacity: 0.6;
  font-weight: 500;
}

.button__submit-element{
  background: #F3992E;
  border: none;
  padding: 0.7rem 1rem;
  margin: 1rem 0 0 0;
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  border-radius: 2rem;
  cursor: pointer;
  transition: .3s;
}

.button__submit-element:hover{
  background: #a76310;
}

@media (max-width: 990px){
  .nav__block{
    display: none;
  }

  .exit__menu {
    display: block !important;
    cursor: pointer;
  }
}

@media (max-width: 470px){
  .main__forgotPassword-block{
    border: none;
  }



}