* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f5f5f5;
}




:root {
    --orange--color: #f3992e;
    --blue--color: #5283ff;
    --gray--color: #505050;
    --bg--white: #ffffff;
}

.justifyContentBetween{
    display: flex;
    justify-content: space-between;
}

.justifyContentEvenly{
    display: flex;
    justify-content: space-evenly;
}

.justifyContentCenter{
    display: flex;
    justify-content: center;
}

.alignItemsCenter{
    display: flex;
    align-items: center;
}

.alignItemsStart{
    display: flex;
    align-items: flex-start;
}

.alignItemsEnd{
    display: flex;
    align-items: flex-end;
}

.directionColumn{
    display: flex;
    flex-direction: column;
}

.flexWrap{
    display: flex;
    flex-wrap: wrap;
}


.text__message {
    color: white;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    width: 85%;
}

.container--w {
    margin: 3.5rem 0 0 0;
    background: var(--bg--white);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.button {
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;
    border: none;
}
.button__nav {
    border: none;
    background: transparent;
    margin: 0 0.3rem 0 1rem;
}

/* //////////////// UTILS /////////////////// */

#row__separator {
    width: 2px;
    height: 35px;
    border: 1px solid #A4A4A4;
    margin: 0 1rem 0 1rem;
}

.header {
    background: var(--bg--white);
    height: 4.5rem;
    width: 100%;
}

.message {
    border: none;
    background: transparent;
}

.messager__card {
    background: rgb(255, 255, 255);
    width: 95%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d5d5d5;
    padding: 1rem 0 1rem 0;
}

.text__card__mensager {
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #505050;
}

#text__new__mensager {
    padding: 0 0 0 0.5rem;
    border-left: 2px solid #656565;
}

.messageModalss {
    background: rgb(255, 255, 255);
    z-index: 5;
    width: 450px;
    width: 335px;
    z-index: 3000;
    position: absolute;
    margin: 0 0 0 0.5rem;
    height: 20;
    box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
    display: none;
}

.header__messageModal {
    background: #f3992e;
    height: 3em;
    padding: 0 1.5rem 0 1.5rem;
}

.text__message {
    font-weight: 500;
}

.block__text {
    width: 90%;
    padding: 0 0 0 0.5rem;
}

.text__one--hr {
    width: 68%;
    height: 100%;
    border-right: 2px solid #505050;
}

.text__one {
    font-size: clamp(11px, 1vw, 12px);
    font-weight: 600;
    color: #474747;
}

.text__about {
    font-size: 13px;
    padding: 0.3rem 0 0 0;
    font-weight: 500;
    color: #5a5a5a;
}

/* ////////////////////// MODAL NOTIFICAÇÃO /////////////////// */

.exit__menu {
    display: none;
}

.messageNotification {
    display: none;
    position: absolute;
    margin: 0;
    box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
    z-index: 5;
    width: 395px; 

}

.header__notification {
    width: 100%;
}

.card__notification {
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    background: white;
}

.card__notificationt__text {
    display: flex;
    color: #5a5a5a;
    text-decoration: underline;
    font-size: clamp(14px, 1vw, 14px);
}

.card__notificationt__text--margin {
    margin: 0 0 0 1rem;
    font-weight: 400;
}

.card__notificationt__text--weight {
    font-weight: 600;
}

.notifications__about {
    width: 100%;
    height: 2rem;
    color: #5a5a5a;
}

.block__text__notification {
    width: 90%;
}

.messager__block__text {
    padding: 0 0 0 0.5rem;
}

/* ////////////////////// MODAL DE PERFIL /////////////////// */

.header__premium-block{
    display: flex;   
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 4rem;
}

.title__element-name--orange b {
    font-weight: 800;
    color: #974700;
    font-size: 20px;
    padding: 0 0 0 0.3rem;
    
}

.title__element-name--gray b {
    font-weight: 800;
    color: #555555;
    font-size: 20px;
    padding: 0 0 0 0.3rem;
}

.title__element-name--yellow b {
    font-weight: 800;
    color: rgb(162 159 0);
    font-size: 20px;
    padding: 0 0 0 0.3rem;
}


.search__nav {
    background: #f5f6fa;
    height: 35px;

    margin: 0 0 0 0.5rem;
}

.filter__setas {
    cursor: pointer;
}

.nav__filter {
    position: absolute;
    background: #f5f6fa;
    display: none;
    justify-content: flex-end;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    z-index: 4;
    padding: 0 0 0 5rem;
    margin: 6.5rem 0 0 10rem;
}

.filter__result span {
    font-weight: 600;
    font-size: 12px;
    color: #a0a2a6;
    text-transform: capitalize;
    padding: 0 1rem 0 0;
}

.filter__search {
    list-style: none;
    padding: 0.5rem 0 0.5rem 0;
}

.filter__search li {
    font-weight: 600;
    font-size: 12px;
    color: #a0a2a6;
    text-transform: capitalize;
    padding: 0 1rem 0.6rem 0;
    cursor: pointer;
}


/* ######################### */

.search__nav input {
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 16px;
    padding: 0 0 0 1.5rem;
    outline: none;
}

.search__nav input::placeholder {
    font-weight: 600;
    font-size: 12px;
    color: #a0a2a6;
    text-transform: capitalize;
}

.search__nav img {
    margin: 0 0.5rem 0 0;
}

.block__Communication {
    height: 50%;
}

.block__Communication hr {
    width: 2px;
    height: 36px;
}

.block__Communication hr {
    height: 100%;
    border: 1px solid #a4a4a4;
}

.block__Communication img {
    cursor: pointer;
}

.tb__perfil {
    padding: 0.3rem;
    text-align: center;
    border-radius: 100%;
    border: 2px solid var(--orange--color);
    color: var(--orange--color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.perfil__name-element{
    text-align: center;
}

/* ############################ */

/* ############## invest-background */

.hrefs-blocks{
    width: 100%;
}

.total__investment-block{
    max-width: 183px;
    margin: 0 0 0 1.5rem;
}


.total__investment-block img{
    cursor: pointer;
}

.total__investment-element{
    font-weight:500;
    max-width: 140px;
    font-size: 14px;
    color: #A4A4A4;
}

.perfil__code-element{
    font-weight: 600;
}

.leave__element{
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;

}

/* ############################# NAV__BLOCK2*/


.nav__hrefs-block{
    background: var(--bg--white);
    width: 100%;
    height: 3.5rem;
}

.nav__links-container{
    max-width: 1440px;
    width: 85%;
    height: 100%;
    list-style: none;
}

.nav__links-container li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 100%;
    transition: .1s ease;

}

.nav__links-container li:hover{
    border-bottom: 3px solid orange;

}

.nav__links-container li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(20, 20, 20);
    padding: 0.5rem  0 0 0;
    opacity: 0.9;
}

.nav__links-element{
    border-bottom: 3px solid orange;
}
.modal__eyes{
    padding: 1rem 0.5rem;
    position: absolute;
    color: rgb(83, 83, 83);
    font-weight: 600;
    text-align: start;
    background: white;
    box-shadow: rgb(51 51 54 / 20%) 0px 7px 29px 0px;
    top: 70px;
    z-index: 5;
    border-radius: 6px;
    display: none;
    margin: 0 0 0 -4rem;
}



/* ############################# Modal Footer */

.leave__modal-block{
    background: #5283FF;
    width: 100%;
    position: fixed;
    bottom: -1px;
}

.fill__profile-block{
    position: relative;
    top: -20px;
}

.fill__button-element{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background: #5EDD2D;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 2px solid transparent;
}

.fill__button-element:hover{
    background: transparent;
    border: 2px solid #5edd2c;
    color: #5edd2c;
}


.fill__text-element{
    padding: 0.5rem 0 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.image__leave-element{
    width: 80%;
    text-align: end;
    margin: 1rem 0 0 0;
    cursor: pointer;
}


/* ############################# Main */


.main__block{
    width: 100%;
    margin: 3rem 0 0 0;

}

.main__container{
    max-width: 1440px;
    width: 85%;
    height: 100%;
}

.aside__block{
    background: white;
    width: 340px;
    border-radius: 0.8rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
    height: 100%;
    padding: 1rem 0 1rem 0;
    margin: 0 0 3rem 0;
}

.aside__container{
    width: 90%;
    height: 97%;

}

.aside__title-element{
    font-size: 21px;
    text-align: center;
}

.button--orange{
    color: #fff;
    background: #F3992E;
    margin: 2rem 0;
}

.button--orange:hover{
    background: #e78610;
}

.aside__weBorrow-element{
    font-size: 16px;
    margin: 0 0 1rem 0;    
}

.aside__texting-element{
    color: #5B5B5B;
    font-weight: 400;
    font-size: 14px;
}


.checkboxs-blocks{
    margin: 1.5rem 0 0 0;
}

.contianer_label-block {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;
    cursor: pointer;
    color: #353535;
    font-size: 14px;
}
  
.contianer_label-block input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}
  
.contianer_label-block input:checked ~ .checkmark {
    background-color: #F3992E;
    border: none;
}
  
.contianer_label-block .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 2px;
    width: 7px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.contianer_label-block input:checked ~ .checkmark:after {
    display: block;
}

.budget-block{
    margin: 2rem 0;
    width: 100%;
}


.title__budget-block{
    display: flex;
    margin: 1rem 0;
}

.primary__buget-element{
    font-size: 15px;
    color: #505050;
}

.secondary__buget-element{
    color: #5585FF;
}

.money__amount{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.money__amount-block{
    max-width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #F5F5F5;
}

.money__title-element{
    background: #F5F5F5;
    color: #505050;
    font-size: 14px;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.money__amount-block input{
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 0 0 0.5rem;
    outline: none;   
}

.money__amount-block input::placeholder{
    font-size: 15px;
}

.select-block{
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid  #F5F5F5;
    padding: 0.5rem;
    border-radius: 6px;
}

.right{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #D0D0D0;
}

.select-block select{
    border: none;
    background: transparent;
    outline: none;
    appearance: none;
    border: none;
    font-size: 14px;
    color: #353535;
    cursor: pointer;
    width: 100%;
}


.invest-block{
    margin: 1.5rem 0 0 0;
}

.radius__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100px;
    margin: 1rem 0 0 0;
}

.radius__block input{
    display: none;
}

.radius__block label{
    text-align: center;
    cursor: pointer;
    height: 100%;
    background: #fff;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #EDEDED;
    border-bottom: 2px solid #D2D2D2;
    border-radius: 6px;
    font-size: 14px;
    color: rgb(53, 53, 53);
    font-weight: 500;
    transition: .1s ease-out; 
}

.radius__block input[type="radio"]:checked + label{
    border: 2px solid #F3992E; 
}

.modality-block{
    margin: 2rem 0;
}

.primary__buget-element--black{
    color: black;
    padding: 1rem 0;
}

.label__text-element{
    font-size: 11px;
    font-weight: 400;
    padding: 0.2rem 0;
}

.contianer__label-block--text{
    color: rgb(61, 61, 61);
    font-weight: 500;
}

.label__text-element--size{
    font-size: 11.5px;
}

.block__radius--wrap{
    flex-wrap: wrap;
    justify-content: flex-start;
}

.radius__blocks{
    margin: 1rem 1rem 0rem 0;
    height: 40px;
}
.radius__blocks input{
    display: none;
}
.radius__blocks label{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    background: #fff;
    border: 2px solid #EDEDED;
    border-bottom: 2px solid #D2D2D2;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(53, 53, 53);
    font-weight: 500;
    transition: .1s ease-out; 
    cursor: pointer;
}

.radius__blocks input[type="radio"]:checked + label{
    border: 2px solid #F3992E; 
}

.data__localization-block{
    margin: 1.5rem 0 0 0;
}

.reputation-block, .reputation__filter-block{
    display: flex;
    flex-direction: column;
}

.offers__received-block, .invest-secondary-block, .invest-tertiary-block{
    margin: 1.5rem 0 0 0;
}

.block__radius-size{
    display: flex;
    justify-content: space-between;
}

.radius__blocks--primary{
    width: 145px;
    height: 50px;
    margin: 1rem 0 0 0;

}
.radius__blocks--primary input{
    display: none;
}

.radius__blocks--primary label{
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    text-align: center;
    background: #fff;
    border: 2px solid #EDEDED;
    font-size: 14px;
    font-weight: 500;
    color: rgb(53, 53, 53);
    transition: .1s ease-out;
    cursor: pointer;

    border-bottom: 2px solid #D2D2D2;

}

.radius__blocks--primary input[type="radio"]:checked + label{
    border: 2px solid #f3992e;
    color: #f3992e;
}


/* ############################# project__block*/

.project__block{
    width: 780px;
    display: flex;
    justify-content: end;
}

.project__container-block{
    width: 97%;
    height: 100%;
}

.header__filter-block{
    display: flex;
    flex-direction: column;
}


.header__filter-block input{
    border: none;
    height: 45px;
    padding: 0 0 0 1rem;
    font-size: 14px;
    border-radius: 2rem;
    outline: none;
    width: 100%;
}

.header__filter-block input::placeholder{
    color: #5e5e5e;

}

.filter__card-block, .filter__element{
    display: flex;
}



.filter__element{
    background: #fff;
    padding: 0.3rem 1rem;
    margin: 0.5rem 1rem 0 0;
    font-size: 13px;
    align-items: center;
    border-radius: 1rem;
    color: #5e5e5e;
}

.filter__element img{
    margin: 0 0 0 0.5rem;
    cursor: pointer;
}

.article__profitability{
    background: #fff;
    padding: 3.5rem 2.5rem;
    margin: 1.5rem 0 0 0;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
    border-radius: 0.5rem;
    background-image: url("../assets/imagesMain/relampago.png");
    background-repeat: no-repeat;
    background-size:450px 300px; 
    background-position: -115px 70px;
}

.article__title-primary--red{
    color: #F45966;
}

.article__title-primary--gray{
    color: rgb(77, 77, 77);
    font-size: clamp(17px, 1.5vw, 23px)
}

.article__text-secondary--size{
    padding: 0 !important;
    margin: 0;
    font-size: 15px !important;
}

.article__text-secondary{
    padding: 1.5rem 0 1.5rem 0;
    font-size: clamp(14px, 1.5vw,17.2px);
    color: #464646;
    max-width: 100%;
    opacity: 0.9;
}


.button--red{
    max-width: 250px;
    padding: 0.5rem;
    color: #fff;
    background: #F45966;
}

.button--red:hover{
    background: #f37781;

}

.nav__profitability-block a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__pages-block{
    margin: 1.5rem 0 0 0;

}

.ul__pages-block{
    display: flex;
    list-style: none;
}

.ul__pages-block li{
    display: flex;
    align-items: center;
}




.ul__pages-block li a{
    text-decoration: none;
    color: #202020;
    font-weight: 600;
    transition: .3s;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
}

.ul__pages-block li a:hover{
    background: #5283FF;
    border-radius: 6px;
    color: #fff;
}

#seta__r{
    margin: 0  0 0 0.5rem;
}


.li__primary-element a{
    color: #fff;
    font-weight: 600;
    background: #5283FF;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.2rem;
}

.article__title-primary--green, .button--green{
    color: #5EDD2D;
}

.button--gren{
    max-width: 250px;
    padding: 0.5rem;
    color: #fff;
    background: #5EDD2D;

}

.button--gren:hover{
    background: rgb(59, 165, 17);
}

.text__links-element{
    font-weight: 500;
    color: #fff;
}

.text__links-element--red{
    color: #F45966;
    font-size: clamp(13px, 1.5vw, 16px)

}

.text__links-element--green{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 14px;
}

.premium__card{
   border: 2px solid #F3992E;
   margin: 2rem 0;
   padding: 1.5rem;
   border-radius: 0.5rem;
   background: #fff;
}

.premium__title-element, .premium__title-elements{
    margin: 0;

    color: #424242;
    font-size: 20px;
    max-width: 354px;

}


.button--orangePropost{
    background: #F3992E;
    color: #fff;
    transform: .3s;
    padding: 0.6rem 0;
    width: 200px;
}

.button--orangePropost:hover{
    background: #a36518;
}

.title__prices-element{
    font-weight: 500;
    margin: 0.5rem 0 0 0;
    color: #5EDD2D;

}

.title__prices-element img{
    margin: 0 0 0 0.5rem;

}

.premium__title-element::after{
    content: "DESTACADO";
    font-size: 11px;
    color: #fff;
    background: #5283FF;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    background-image: url("../assets/imagesMain/starpng");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;

}

.ul__list-project{
    display: flex;
    padding: 2rem 0;
    list-style: none;
    flex-wrap: wrap;
}

.ul__list-project li{
    font-size: 13px;
    margin: 0 1rem 0 0;
    color: #464646;
}

.type__propost-block{
    display: flex;
}

.background__blue-element{
    background: #5283FF;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    color: #fff; 
    font-size: 13px;
    font-weight: 500;
    border-radius: 1rem;
}

.perfil__card-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.perfiL__card-information-block{
    display: flex;
    align-items: center;
}

.perfil__name-element, .text__evaluation-element{
    font-weight: 500;
    margin: 0 0.8rem;
    color: #505050;
}

.inappropriate--block{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}


.card__project-block{
    background: #fff;
    padding: 1.5rem;
    margin: 0 0 1.5rem 0;
}

.list__about-block{
    margin: 1.5rem 0;
}

.ul__about-block{
    list-style: none;
}

.ul__about-block li{
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    color: #505050;
}

.collpsar{
    text-decoration: none;
    color: #5586FF;
}

.type__propost-block--padding{
    padding: 1rem 0;
} 

.article__text-secondary--padding{
    padding: 1rem 0;
}

.ul__list-project--padding{
    padding: 1rem 0 0 0;
}

.ul__pages-block{
    padding: 1rem 0 0 0;
}

#right__image{
    transform: rotateY(180deg);
}

.data__time-block{
    margin: 0 0 2rem 0;
}

#aside__block--active{
    position: fixed;
    z-index: 3;
    top: 131px;
    display: flex;
    flex-direction: column;
    height: 400px;
    border: none;
    overflow: auto;
    border-radius: 5px;
    right: -1px;
}

#add__background--active::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    z-index: 22;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
    right: 7px;
    top: 119px;
}

#input__aside-element, #image__search-element{
    display: none;
}


#add__background--active{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0,0,0,.2);
}

.aside__background-opactiy{
    display: none;
}

#image__search-element{
    margin: 0 0 0 0.5rem;
}

#open__view-card div{
    display: flex;
}

.header__notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil__button{
    border: none;
    background: transparent;
}

.nav__notification{
    padding: 0 0.5rem;
    background: #fff;
}

.messageNotification{
    flex-direction: column !important;
}
.messager__block__text{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.text__card__mensager{
    display: flex !important;    
}

.text__card__mensager span, .text__faq{
    text-align: start !important;
}

.block__text__notification{
    display: flex !important;
    flex-direction: column !important;
}

.perfil__modal {
    position: absolute;
    background: white;
    box-shadow: rgba(51, 51, 54, 0.2) 0px 7px 29px 0px;
    top: 70px;
    margin: 0 0 0 -15rem;

    width: 400px;
    height: 550px;
    z-index: 5;
    align-items: center;
    justify-content: center;
    display: none;
}

.perfil__container {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil__title {
    font-weight: 400;
    text-transform: capitalize;
}

.perfil__title__block {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f3992e;
}

.perfil__title__bold {
    color: #505050;
    font-weight: 600;
}

.account__config {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 2px solid #f3992e;
    height: 27%;
}

.account__title {
    font-weight: 400;
    color: #505050;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.block__offers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 32%;
    border-bottom: 2px solid #f3992e;
}

.block__text__offers__invest {
    max-width: 230px;
    font-weight: 400;
    color: #505050;
}

.block__text__offers {
    display: flex;
    justify-content: space-between;
}

.title__offers__primary {
    color: #f3a447;
    font-weight: 600;
}

.block__text__offers__invest--text {
    font-size: 14px;
}

.block__Information__offers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35%;
    border-bottom: 2px solid #f3992e;
}

.block__text__offers__account {
    display: flex;
    justify-content: space-between;
}

.block__end__offers {
    display: flex;
    flex-direction: column;
}

.block__end__offers span {
    padding: 0.4rem 0 0 0;
}

.block__text__offers__text {
    display: flex;
    flex-direction: column;
}

.block__text__offers__text span {
    padding: 0.4rem 0 1rem 0;
}

.user__offers {
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: space-between;
}

.block__title__user {
    height: 55%;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
}



.title__element-name--orange b {
    font-weight: 800;
    color: #974700;
    font-size: 20px;
    padding: 0 0 0 0.3rem;
}

.title__element-name--gray b {
    font-weight: 800;
    color: #555555;
    font-size: 20px;
    padding: 0 0 0 0.3rem;
}

.title__element-name--yellow b {
    font-weight: 800;
    color: rgb(162 159 0);
    font-size: 20px;
    padding: 0 0 0 0.3rem;
}



.make__proposal-block{
    margin: 1rem 0 0 0;
}


@media (max-width: 921px) {
    .search__nav {
        margin: 0 0 0 1rem;
    }
}

@media (max-width: 1043px) {
    .search__nav {
        width: 55%;
    }
}

@media (max-width: 1024px) {
    .search__nav input {
        width: 221%;
    }
}


@media (max-width: 1486.67px){
    .card__menu{
        left: 1003px;
    }
}

@media (max-width: 1328px){
    .list__propost-background{
        width: 870px;
    }
}
@media (max-width: 1366px){
    .card__menu{
        left: 980px;
    }
}
@media (max-width: 1300px){
    .list__propost-background{
        width: 845px;
    }
}

@media (max-width: 1280px){
    .card__menu{
        left: 900px;
    }
}
@media (max-width: 1281px){
    .list__propost-background{
        width: 825px;
    }  
}
@media (max-width: 1238.89px){
    .list__propost-background{
        width: 775px;
    }
    .card__menu{
        left: 855px;

    }
}

@media (max-width: 1221px){
    .list__propost-background{
        width: 767px;
    }
}


@media (max-width: 1159.50px){
    .list__propost-background{
        width: 710px;
    }
}
@media (max-width: 1187px){
    .list__propost-background{
        width: 750px;
    }  
}

@media (max-width: 1168px){
    .list__propost-background{
        width: 730px;
    } 
}

@media (max-width: 1153px){
    .list__propost-background{
        width: 720px;
    }
}
@media (max-width: 1143px){
    .list__propost-background{
        width: 700px;
    }
}

@media (max-width: 1115px) {
    .title__element-name {
        padding: 0;
    }
    .search__nav {
        width: 320px;
    }

    .search__container {
        width: 124px;
    }

    .search__nav input {
        width: 162px;
    }

    .messageNotification {
        width: 400px;
    }

    .text__one--hr {
        width: 62%;
        font-size: clamp(11px, 1vw, 14px);
    }

    .notifications__about {
        height: 100%;
        font-size: clamp(13px, 1vw, 16px);
        padding: 0.5rem 0 0;
    }

    .notifications__about img {
        width: 30px;
        height: 30px;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 0 1rem;
    }



    .container__search input {
        width: 169px;
    }

    .nav__search {
        display: none;
    }
    .list__propost-background{
        width: 680px;
    }
    .card__menu{
        left:745px;
    }

    .total__investment-block, .perfil__account-tb{
        margin: 0 0 0 0.5rem !important;
    }
    .total__investment-element{
        font-size: 10px !important;
    }

    .perfil__name-element{
        font-size: 12px !important;
    }

    .radius__blocks--primary{
        width: 100%;
    }
}
@media (max-width: 1113px){
    .card__menu{
        left:740px;

    }
}

@media (max-width: 1100px){
    .card__menu{
        left:760px;

    }
}

@media (max-width: 990px){


    #border__leave{
        border-top: 1px dashed #474747;
    }

    .input__block{
        position: fixed;
        top: 68px;
        width: 100%;
        left: 0px;
        height: 65px;
        border-radius: 0;
        border-bottom: 1px solid #D7D7D7;
        border-top: 1px solid #D7D7D7;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 0 1rem;
    }
    
    .espaco20{
        margin: 1.5rem 0;
    }


    .input__block input{
        width: 100%;
    }
    
    .header{
        position: fixed;
        top: -1px;
        width: 100%;
        z-index: 2;
    }

    .main__block{
        margin: 11rem 0 ;
        justify-content: center;
    }

    .main__container{
        width: 100%;
        justify-content: center;
    }
    
    .project__block{
        max-width: 90%;
    }
    
    .exit__menu, .input__block img{
        display: flex;
        cursor: pointer;
    }

    .aside__block, .nav__hrefs-block, .nav, .leave__element{
        display: none;
    }

    .nav__profitability-block, .block__radius-size{
        flex-wrap: wrap;
    }

    .button--red{
        padding: 1rem;
    }

    .text__links-element{
        margin: 1rem 0 0 0 ;
    }

    .background__blue-element{
        margin: 0.5rem 2.5rem 0 0;
        padding: 0.5rem 1.1rem;
    }

    #input__aside-element, .aside__background-opactiy, #image__search-element{
        display: flex;
    }

    .aside__container{
        height: 90%;
    }

    .radius__blocks--primary{
        width: 100%;
    }
    .header__premium-block{
        flex-wrap: wrap;
    }

}


@media (max-width: 765px){

    .filter__card-block{
        display: none;
    }

    .article__profitability{
        padding: 3.5rem 1rem;
    }

    .ul__pages-block li{
        padding: 0;
        margin: 0;
    }

    .ul__pages-block li{
        padding:  0 1rem 0 0;
    }

    .make__proposal-block{
        margin: 1.5rem 0 0 0;
    }

    .premium__card{
        padding: 1rem;
    }

    .ul__list-project li{
        margin: 0.5rem 1rem 0 0; 
        font-size: 13px;
    }

}


@media (max-width: 733px){
    .perfil__card-block{
        display: none;
    }
}

@media (max-width: 363px){
    .aside__block{
        width: 300px;
    }
    .block__radius{
        flex-wrap: wrap;
    }
}