@media only screen and (max-width: 1000px) {
.header {
    background-color: white;
  }
  
  .containerRegras {
    background-color: #F5F5F5;
    padding: 3vw 15vw;
  }
  
  .titleUse {
    font-size: 7.5vw;
  }
  
  .containerDiv {
    margin: 3vw 0;
  }
  
  .containerDiv h3 {
    font-size: 5.1vw;
  }
  
  .containerDiv p {
    margin-top: 0.3vw;
    font-size: 3vw;
  }
  
  .atencao {
    font-size: 1vw;
  }
}